<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.shopec.core.marketing.dao.RedeemCodeDao">

<resultMap type="RedeemCode" id="RedeemCode">
	<id column="REDEEM_CODE" property="redeemCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="REDEEM_NAME" property="redeemName" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="AVAILABLE_TIMES" property="availableTimes" javaType="java.lang.Integer" jdbcType="INTEGER"/>
	<result column="AVAILABLE_TIME1" property="availableTime1" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	<result column="AVAILABLE_TIME2" property="availableTime2" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	<result column="MEMO" property="memo" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="CENSOR_STATUS" property="censorStatus" javaType="java.lang.Integer" jdbcType="TINYINT"/>
	<result column="CENSOR_ID" property="censorId" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="CENSOR_TIME" property="censorTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	<result column="CENSOR_MEMO" property="censorMemo" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="IS_AVAILABLE" property="isAvailable" javaType="java.lang.Integer" jdbcType="TINYINT"/>
	<result column="AVAILABLE_UPDATE_TIME" property="availableUpdateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	<result column="CREATE_TIME" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	<result column="UPDATE_TIME" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	<result column="OPERATOR_TYPE" property="operatorType" javaType="java.lang.Integer" jdbcType="TINYINT"/>
	<result column="OPERATOR_ID" property="operatorId" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="IS_DELETED" property="isDeleted" javaType="java.lang.Integer" jdbcType="TINYINT"/>
</resultMap>


<!-- 全部字段，一般用于明细查询 -->
<sql id="AllColumnlist">
REDEEM_CODE,REDEEM_NAME,AVAILABLE_TIMES,AVAILABLE_TIME1,AVAILABLE_TIME2,MEMO,CENSOR_STATUS,
CENSOR_ID,CENSOR_TIME,CENSOR_MEMO,IS_AVAILABLE,AVAILABLE_UPDATE_TIME,CREATE_TIME,
UPDATE_TIME,OPERATOR_TYPE,OPERATOR_ID,IS_DELETED
</sql>

<!-- 常见字段，一般用于列表查询，可能不包含备注之类的字段 -->
<sql id="CommonColumnlist">
REDEEM_CODE,REDEEM_NAME,AVAILABLE_TIMES,AVAILABLE_TIME1,AVAILABLE_TIME2,MEMO,CENSOR_STATUS,
CENSOR_ID,CENSOR_TIME,CENSOR_MEMO,IS_AVAILABLE,AVAILABLE_UPDATE_TIME,CREATE_TIME,
UPDATE_TIME,OPERATOR_TYPE,OPERATOR_ID,IS_DELETED
</sql>

<insert id="add" parameterType="RedeemCode" useGeneratedKeys="true" keyProperty="redeemCode">
	insert into T_REDEEM_CODE(
		<if test="redeemCode!=null">
		REDEEM_CODE,
		</if>
		REDEEM_NAME,
		AVAILABLE_TIMES,
		AVAILABLE_TIME1,
		AVAILABLE_TIME2,
		MEMO,
		CENSOR_STATUS,
		CENSOR_ID,
		CENSOR_TIME,
		CENSOR_MEMO,
		IS_AVAILABLE,
		AVAILABLE_UPDATE_TIME,
		CREATE_TIME,
		UPDATE_TIME,
		OPERATOR_TYPE,
		OPERATOR_ID,
		IS_DELETED
	) values (
		<if test="redeemCode!=null">
		#{redeemCode,jdbcType = VARCHAR},
		</if>
		#{redeemName,jdbcType = VARCHAR},
		#{availableTimes,jdbcType = INTEGER},
		#{availableTime1,jdbcType = TIMESTAMP},
		#{availableTime2,jdbcType = TIMESTAMP},
		#{memo,jdbcType = VARCHAR},
		#{censorStatus,jdbcType = TINYINT},
		#{censorId,jdbcType = VARCHAR},
		#{censorTime,jdbcType = TIMESTAMP},
		#{censorMemo,jdbcType = VARCHAR},
		#{isAvailable,jdbcType = TINYINT},
		#{availableUpdateTime,jdbcType = TIMESTAMP},
		#{createTime,jdbcType = TIMESTAMP},
		#{updateTime,jdbcType = TIMESTAMP},
		#{operatorType,jdbcType = TINYINT},
		#{operatorId,jdbcType = VARCHAR},
		#{isDeleted,jdbcType = TINYINT}
	)
</insert>

<update id="update" parameterType="RedeemCode">
	update T_REDEEM_CODE 
	<set>
		<if test="redeemName!=null and redeemName!=''">
			REDEEM_NAME=#{redeemName,jdbcType = VARCHAR},
		</if>
		<if test="availableTimes!=null ">
			AVAILABLE_TIMES=#{availableTimes,jdbcType = INTEGER},
		</if>
		<if test="availableTime1!=null ">
			AVAILABLE_TIME1=#{availableTime1,jdbcType = TIMESTAMP},
		</if>
		<if test="availableTime2!=null ">
			AVAILABLE_TIME2=#{availableTime2,jdbcType = TIMESTAMP},
		</if>
		<if test="memo!=null and memo!=''">
			MEMO=#{memo,jdbcType = VARCHAR},
		</if>
		<if test="censorStatus!=null ">
			CENSOR_STATUS=#{censorStatus,jdbcType = TINYINT},
		</if>
		<if test="censorId!=null and censorId!=''">
			CENSOR_ID=#{censorId,jdbcType = VARCHAR},
		</if>
		<if test="censorTime!=null ">
			CENSOR_TIME=#{censorTime,jdbcType = TIMESTAMP},
		</if>
		<if test="censorMemo!=null and censorMemo!=''">
			CENSOR_MEMO=#{censorMemo,jdbcType = VARCHAR},
		</if>
		<if test="isAvailable!=null ">
			IS_AVAILABLE=#{isAvailable,jdbcType = TINYINT},
		</if>
		<if test="availableUpdateTime!=null ">
			AVAILABLE_UPDATE_TIME=#{availableUpdateTime,jdbcType = TIMESTAMP},
		</if>
		<if test="createTime!=null ">
			CREATE_TIME=#{createTime,jdbcType = TIMESTAMP},
		</if>
		<if test="updateTime!=null ">
			UPDATE_TIME=#{updateTime,jdbcType = TIMESTAMP},
		</if>
		<if test="operatorType!=null ">
			OPERATOR_TYPE=#{operatorType,jdbcType = TINYINT},
		</if>
		<if test="operatorId!=null and operatorId!=''">
			OPERATOR_ID=#{operatorId,jdbcType = VARCHAR},
		</if>
		<if test="isDeleted!=null ">
			IS_DELETED=#{isDeleted,jdbcType = TINYINT},
		</if>
	</set>
	<where>
		AND REDEEM_CODE=#{redeemCode}
	</where>
</update>

<delete id="delete">
	delete from T_REDEEM_CODE 
	<where>
		REDEEM_CODE=#{0}
	</where>
</delete>

<select id="get" resultMap="RedeemCode">
	select <include refid="AllColumnlist"/> from T_REDEEM_CODE
	<where>
		REDEEM_CODE=#{0}
	</where>
</select>

<select id="getByIds" resultMap="RedeemCode">
	select <include refid="AllColumnlist"/> from T_REDEEM_CODE
	<where>
		REDEEM_CODE in <foreach item="item" index="index" collection="array" open="(" separator="," close=")">#{item}</foreach>
	</where>
</select>

<select id="count" parameterType="Query" resultType="Long">
	select count(REDEEM_CODE) from T_REDEEM_CODE 
	<where>
	<include refid="listCommonWhere"/>
	</where>
</select>

<select id="queryAll" parameterType="Query" resultMap="RedeemCode">
	select <include refid="CommonColumnlist"/> from T_REDEEM_CODE 
	<where>
	<include refid="listCommonWhere"/>
	</where>
</select>

<select id="pageList" parameterType="Query" resultMap="RedeemCode">
	select <include refid="CommonColumnlist"/> from T_REDEEM_CODE
	<where>
	 <include refid="listCommonWhereWH"/>
	</where>
	ORDER BY CREATE_TIME DESC
	<![CDATA[LIMIT #{rowIndex},#{pageSize} ]]>
</select>

<sql id="listCommonWhere">
    <if test="q==null"><!-- 无传入参数时默认查未删除的 -->
       AND IS_DELETED=0
    </if>
	<if test="q!=null">
		<if test="q.redeemCode!=null and q.redeemCode!=''">
			AND REDEEM_CODE=#{q.redeemCode}
		</if>
		<if test="q.redeemName!=null and q.redeemName!=''">
			AND REDEEM_NAME=#{q.redeemName}
		</if>
		<if test="q.availableTimes!=null ">
			AND AVAILABLE_TIMES=#{q.availableTimes}
		</if>
		<if test="q.availableTime1!=null ">
			AND AVAILABLE_TIME1=#{q.availableTime1}
		</if>
		<if test="q.availableTime1Start!=null">
		<![CDATA[	AND AVAILABLE_TIME1>=#{q.availableTime1Start}  ]]>
		</if>
		<if test="q.availableTime1End!=null">
		<![CDATA[	AND AVAILABLE_TIME1<#{q.availableTime1End}   ]]>
		</if>
		<if test="q.availableTime2!=null ">
			AND AVAILABLE_TIME2=#{q.availableTime2}
		</if>
		<if test="q.availableTime2Start!=null">
		<![CDATA[	AND AVAILABLE_TIME2>=#{q.availableTime2Start}  ]]>
		</if>
		<if test="q.availableTime2End!=null">
		<![CDATA[	AND AVAILABLE_TIME2<#{q.availableTime2End}   ]]>
		</if>
		<if test="q.memo!=null and q.memo!=''">
			AND MEMO=#{q.memo}
		</if>
		<if test="q.censorStatus!=null ">
			AND CENSOR_STATUS=#{q.censorStatus}
		</if>
		<if test="q.censorId!=null and q.censorId!=''">
			AND CENSOR_ID=#{q.censorId}
		</if>
		<if test="q.censorTime!=null ">
			AND CENSOR_TIME=#{q.censorTime}
		</if>
		<if test="q.censorTimeStart!=null">
		<![CDATA[	AND CENSOR_TIME>=#{q.censorTimeStart}  ]]>
		</if>
		<if test="q.censorTimeEnd!=null">
		<![CDATA[	AND CENSOR_TIME<#{q.censorTimeEnd}   ]]>
		</if>
		<if test="q.censorMemo!=null and q.censorMemo!=''">
			AND CENSOR_MEMO=#{q.censorMemo}
		</if>
		<if test="q.isAvailable!=null ">
			AND IS_AVAILABLE=#{q.isAvailable}
		</if>
		<if test="q.availableUpdateTime!=null ">
			AND AVAILABLE_UPDATE_TIME=#{q.availableUpdateTime}
		</if>
		<if test="q.availableUpdateTimeStart!=null">
		<![CDATA[	AND AVAILABLE_UPDATE_TIME>=#{q.availableUpdateTimeStart}  ]]>
		</if>
		<if test="q.availableUpdateTimeEnd!=null">
		<![CDATA[	AND AVAILABLE_UPDATE_TIME<#{q.availableUpdateTimeEnd}   ]]>
		</if>
		<if test="q.createTime!=null ">
			AND CREATE_TIME=#{q.createTime}
		</if>
		<if test="q.createTimeStart!=null">
		<![CDATA[	AND CREATE_TIME>=#{q.createTimeStart}  ]]>
		</if>
		<if test="q.createTimeEnd!=null">
		<![CDATA[	AND CREATE_TIME<#{q.createTimeEnd}   ]]>
		</if>
		<if test="q.updateTime!=null ">
			AND UPDATE_TIME=#{q.updateTime}
		</if>
		<if test="q.updateTimeStart!=null">
		<![CDATA[	AND UPDATE_TIME>=#{q.updateTimeStart}  ]]>
		</if>
		<if test="q.updateTimeEnd!=null">
		<![CDATA[	AND UPDATE_TIME<#{q.updateTimeEnd}   ]]>
		</if>
		<if test="q.operatorType!=null ">
			AND OPERATOR_TYPE=#{q.operatorType}
		</if>
		<if test="q.operatorId!=null and q.operatorId!=''">
			AND OPERATOR_ID=#{q.operatorId}
		</if>
		<if test="q.isDeleted!=null ">
			AND IS_DELETED=#{q.isDeleted}
		</if>
	</if>
</sql>

<sql id="listCommonWhereWH">
    <if test="q==null"><!-- 无传入参数时默认查未删除的 -->
       AND IS_DELETED=0
    </if>
	<if test="q!=null">
		<if test="q.redeemCode!=null and q.redeemCode!=''">
			AND REDEEM_CODE like '%${q.redeemCode}%'
		</if>
		<if test="q.redeemName!=null and q.redeemName!=''">
			AND REDEEM_NAME like '%${q.redeemName}%'
		</if>
		<if test="q.availableTimes!=null ">
			AND AVAILABLE_TIMES=#{q.availableTimes}
		</if>
		<if test="q.availableTime1!=null ">
			AND AVAILABLE_TIME1=#{q.availableTime1}
		</if>
		<if test="q.availableTime1Start!=null">
		<![CDATA[	AND AVAILABLE_TIME1>=#{q.availableTime1Start}  ]]>
		</if>
		<if test="q.availableTime1End!=null">
		<![CDATA[	AND AVAILABLE_TIME1<#{q.availableTime1End}   ]]>
		</if>
		<if test="q.availableTime2!=null ">
			AND AVAILABLE_TIME2=#{q.availableTime2}
		</if>
		<if test="q.availableTime2Start!=null">
		<![CDATA[	AND AVAILABLE_TIME2>=#{q.availableTime2Start}  ]]>
		</if>
		<if test="q.availableTime2End!=null">
		<![CDATA[	AND AVAILABLE_TIME2<#{q.availableTime2End}   ]]>
		</if>
		<if test="q.memo!=null and q.memo!=''">
			AND MEMO=#{q.memo}
		</if>
		<if test="q.censorStatus!=null ">
			AND CENSOR_STATUS=#{q.censorStatus}
		</if>
		<if test="q.censorId!=null and q.censorId!=''">
			AND CENSOR_ID=#{q.censorId}
		</if>
		<if test="q.censorTime!=null ">
			AND CENSOR_TIME=#{q.censorTime}
		</if>
		<if test="q.censorTimeStart!=null">
		<![CDATA[	AND CENSOR_TIME>=#{q.censorTimeStart}  ]]>
		</if>
		<if test="q.censorTimeEnd!=null">
		<![CDATA[	AND CENSOR_TIME<#{q.censorTimeEnd}   ]]>
		</if>
		<if test="q.censorMemo!=null and q.censorMemo!=''">
			AND CENSOR_MEMO=#{q.censorMemo}
		</if>
		<if test="q.isAvailable!=null ">
			AND IS_AVAILABLE=#{q.isAvailable}
		</if>
		<if test="q.availableUpdateTime!=null ">
			AND AVAILABLE_UPDATE_TIME=#{q.availableUpdateTime}
		</if>
		<if test="q.availableUpdateTimeStart!=null">
		<![CDATA[	AND AVAILABLE_UPDATE_TIME>=#{q.availableUpdateTimeStart}  ]]>
		</if>
		<if test="q.availableUpdateTimeEnd!=null">
		<![CDATA[	AND AVAILABLE_UPDATE_TIME<#{q.availableUpdateTimeEnd}   ]]>
		</if>
		<if test="q.createTime!=null ">
			AND CREATE_TIME=#{q.createTime}
		</if>
		<if test="q.createTimeStart!=null">
		<![CDATA[	AND CREATE_TIME>=#{q.createTimeStart}  ]]>
		</if>
		<if test="q.createTimeEnd!=null">
		<![CDATA[	AND CREATE_TIME<#{q.createTimeEnd}   ]]>
		</if>
		<if test="q.updateTime!=null ">
			AND UPDATE_TIME=#{q.updateTime}
		</if>
		<if test="q.updateTimeStart!=null">
		<![CDATA[	AND UPDATE_TIME>=#{q.updateTimeStart}  ]]>
		</if>
		<if test="q.updateTimeEnd!=null">
		<![CDATA[	AND UPDATE_TIME<#{q.updateTimeEnd}   ]]>
		</if>
		<if test="q.operatorType!=null ">
			AND OPERATOR_TYPE=#{q.operatorType}
		</if>
		<if test="q.operatorId!=null and q.operatorId!=''">
			AND OPERATOR_ID=#{q.operatorId}
		</if>
		<if test="q.isDeleted!=null ">
			AND IS_DELETED=#{q.isDeleted}
		</if>
	</if>
</sql>

</mapper>