<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.shopec.core.equipment.dao.AuxiliaryEquipmentDao">

<resultMap type="AuxiliaryEquipment" id="AuxiliaryEquipment">
	<id column="AUXILIARY_EQUIPMENT_NO" property="auxiliaryEquipmentNo" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="CITY_ID" property="cityId" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="CITY_NAME" property="cityName" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="STORE_NO" property="storeNo" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="STORE_NAME" property="storeName" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="BRAND_NO" property="brandNo" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="BRAND_NAME" property="brandName" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="MODEL_NO" property="modelNo" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="MODEL_NAME" property="modelName" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="SORT_NO" property="sortNo" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="SORT_NAME" property="sortName" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="IS_DELETED" property="isDeleted" javaType="java.lang.Integer" jdbcType="TINYINT"/>
	<result column="CREATE_TIME" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	<result column="UPDATE_TIME" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	<result column="OPERATOR_TYPE" property="operatorType" javaType="java.lang.Integer" jdbcType="TINYINT"/>
	<result column="OPERATOR_ID" property="operatorId" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="MEMO" property="memo" javaType="java.lang.String" jdbcType="VARCHAR"/>
</resultMap>


<!-- 全部字段，一般用于明细查询 -->
<sql id="AllColumnlist">
AUXILIARY_EQUIPMENT_NO,CITY_ID,CITY_NAME,STORE_NO,STORE_NAME,BRAND_NO,BRAND_NAME,
MODEL_NO,MODEL_NAME,SORT_NO,SORT_NAME,IS_DELETED,CREATE_TIME,
UPDATE_TIME,OPERATOR_TYPE,OPERATOR_ID,MEMO
</sql>

<!-- 常见字段，一般用于列表查询，可能不包含备注之类的字段 -->
<sql id="CommonColumnlist">
AUXILIARY_EQUIPMENT_NO,CITY_ID,CITY_NAME,STORE_NO,STORE_NAME,BRAND_NO,BRAND_NAME,
MODEL_NO,MODEL_NAME,SORT_NO,SORT_NAME,IS_DELETED,CREATE_TIME,
UPDATE_TIME,OPERATOR_TYPE,OPERATOR_ID,MEMO
</sql>

<insert id="add" parameterType="AuxiliaryEquipment" useGeneratedKeys="true" keyProperty="auxiliaryEquipmentNo">
	insert into T_AUXILIARY_EQUIPMENT(
		<if test="auxiliaryEquipmentNo!=null">
		AUXILIARY_EQUIPMENT_NO,
		</if>
		CITY_ID,
		CITY_NAME,
		STORE_NO,
		STORE_NAME,
		BRAND_NO,
		BRAND_NAME,
		MODEL_NO,
		MODEL_NAME,
		SORT_NO,
		SORT_NAME,
		IS_DELETED,
		CREATE_TIME,
		UPDATE_TIME,
		OPERATOR_TYPE,
		OPERATOR_ID,
		MEMO
	) values (
		<if test="auxiliaryEquipmentNo!=null">
		#{auxiliaryEquipmentNo,jdbcType = VARCHAR},
		</if>
		#{cityId,jdbcType = VARCHAR},
		#{cityName,jdbcType = VARCHAR},
		#{storeNo,jdbcType = VARCHAR},
		#{storeName,jdbcType = VARCHAR},
		#{brandNo,jdbcType = VARCHAR},
		#{brandName,jdbcType = VARCHAR},
		#{modelNo,jdbcType = VARCHAR},
		#{modelName,jdbcType = VARCHAR},
		#{sortNo,jdbcType = VARCHAR},
		#{sortName,jdbcType = VARCHAR},
		#{isDeleted,jdbcType = TINYINT},
		#{createTime,jdbcType = TIMESTAMP},
		#{updateTime,jdbcType = TIMESTAMP},
		#{operatorType,jdbcType = TINYINT},
		#{operatorId,jdbcType = VARCHAR},
		#{memo,jdbcType = VARCHAR}
	)
</insert>

<update id="update" parameterType="AuxiliaryEquipment">
	update T_AUXILIARY_EQUIPMENT 
	<set>
		<if test="cityId!=null and cityId!=''">
			CITY_ID=#{cityId,jdbcType = VARCHAR},
		</if>
		<if test="cityName!=null and cityName!=''">
			CITY_NAME=#{cityName,jdbcType = VARCHAR},
		</if>
		<if test="storeNo!=null and storeNo!=''">
			STORE_NO=#{storeNo,jdbcType = VARCHAR},
		</if>
		<if test="storeName!=null and storeName!=''">
			STORE_NAME=#{storeName,jdbcType = VARCHAR},
		</if>
		<if test="brandNo!=null and brandNo!=''">
			BRAND_NO=#{brandNo,jdbcType = VARCHAR},
		</if>
		<if test="brandName!=null and brandName!=''">
			BRAND_NAME=#{brandName,jdbcType = VARCHAR},
		</if>
		<if test="modelNo!=null and modelNo!=''">
			MODEL_NO=#{modelNo,jdbcType = VARCHAR},
		</if>
		<if test="modelName!=null and modelName!=''">
			MODEL_NAME=#{modelName,jdbcType = VARCHAR},
		</if>
		<if test="sortNo!=null and sortNo!=''">
			SORT_NO=#{sortNo,jdbcType = VARCHAR},
		</if>
		<if test="sortName!=null and sortName!=''">
			SORT_NAME=#{sortName,jdbcType = VARCHAR},
		</if>
		<if test="isDeleted!=null ">
			IS_DELETED=#{isDeleted,jdbcType = TINYINT},
		</if>
		<if test="createTime!=null ">
			CREATE_TIME=#{createTime,jdbcType = TIMESTAMP},
		</if>
		<if test="updateTime!=null ">
			UPDATE_TIME=#{updateTime,jdbcType = TIMESTAMP},
		</if>
		<if test="operatorType!=null ">
			OPERATOR_TYPE=#{operatorType,jdbcType = TINYINT},
		</if>
		<if test="operatorId!=null and operatorId!=''">
			OPERATOR_ID=#{operatorId,jdbcType = VARCHAR},
		</if>
		<if test="memo!=null and memo!=''">
			MEMO=#{memo,jdbcType = VARCHAR},
		</if>
	</set>
	<where>
		AND AUXILIARY_EQUIPMENT_NO=#{auxiliaryEquipmentNo}
	</where>
</update>

<delete id="delete">
	delete from T_AUXILIARY_EQUIPMENT 
	<where>
		AUXILIARY_EQUIPMENT_NO=#{0}
	</where>
</delete>

<select id="get" resultMap="AuxiliaryEquipment">
	select <include refid="AllColumnlist"/> from T_AUXILIARY_EQUIPMENT
	<where>
		AUXILIARY_EQUIPMENT_NO=#{0}
	</where>
</select>

<select id="getByIds" resultMap="AuxiliaryEquipment">
	select <include refid="AllColumnlist"/> from T_AUXILIARY_EQUIPMENT
	<where>
		AUXILIARY_EQUIPMENT_NO in <foreach item="item" index="index" collection="array" open="(" separator="," close=")">#{item}</foreach>
	</where>
</select>

<select id="count" parameterType="Query" resultType="Long">
	select count(AUXILIARY_EQUIPMENT_NO) from T_AUXILIARY_EQUIPMENT 
	<where>
	<include refid="listCommonWhere"/>
	</where>
</select>

<select id="queryAll" parameterType="Query" resultMap="AuxiliaryEquipment">
	select <include refid="CommonColumnlist"/> from T_AUXILIARY_EQUIPMENT 
	<where>
	<include refid="listCommonWhere"/>
	</where>
</select>

<select id="pageList" parameterType="Query" resultMap="AuxiliaryEquipment">
	select <include refid="AllColumnlist"/> from T_AUXILIARY_EQUIPMENT
	<where>
	 <include refid="listCommonWhere"/>
	</where>
	ORDER BY UPDATE_TIME DESC
	<![CDATA[LIMIT #{rowIndex},#{pageSize} ]]>
</select>


<sql id="listCommonWhere">
    <if test="q==null"><!-- 无传入参数时默认查未删除的 -->
       AND IS_DELETED=0
    </if>
	<if test="q!=null">
		<if test="q.auxiliaryEquipmentNo!=null and q.auxiliaryEquipmentNo!=''">
			AND AUXILIARY_EQUIPMENT_NO=#{q.auxiliaryEquipmentNo}
		</if>
		<if test="q.cityId!=null and q.cityId!=''">
			AND CITY_ID=#{q.cityId}
		</if>
		<if test="q.cityName!=null and q.cityName!=''">
			AND CITY_NAME=#{q.cityName}
		</if>
		<if test="q.storeNo!=null and q.storeNo!=''">
			AND STORE_NO=#{q.storeNo}
		</if>
		<if test="q.storeName!=null and q.storeName!=''">
			AND STORE_NAME=#{q.storeName}
		</if>
		<if test="q.brandNo!=null and q.brandNo!=''">
			AND BRAND_NO=#{q.brandNo}
		</if>
		<if test="q.brandName!=null and q.brandName!=''">
			AND BRAND_NAME=#{q.brandName}
		</if>
		<if test="q.modelNo!=null and q.modelNo!=''">
			AND MODEL_NO=#{q.modelNo}
		</if>
		<if test="q.modelName!=null and q.modelName!=''">
			AND MODEL_NAME=#{q.modelName}
		</if>
		<if test="q.sortNo!=null and q.sortNo!=''">
			AND SORT_NO=#{q.sortNo}
		</if>
		<if test="q.sortName!=null and q.sortName!=''">
			AND SORT_NAME=#{q.sortName}
		</if>
		<if test="q.isDeleted!=null ">
			AND IS_DELETED=#{q.isDeleted}
		</if>
		<if test="q.createTime!=null ">
			AND CREATE_TIME=#{q.createTime}
		</if>
		<if test="q.createTimeStart!=null">
		<![CDATA[	AND CREATE_TIME>=#{q.createTimeStart}  ]]>
		</if>
		<if test="q.createTimeEnd!=null">
		<![CDATA[	AND CREATE_TIME<#{q.createTimeEnd}   ]]>
		</if>
		<if test="q.updateTime!=null ">
			AND UPDATE_TIME=#{q.updateTime}
		</if>
		<if test="q.updateTimeStart!=null">
		<![CDATA[	AND UPDATE_TIME>=#{q.updateTimeStart}  ]]>
		</if>
		<if test="q.updateTimeEnd!=null">
		<![CDATA[	AND UPDATE_TIME<#{q.updateTimeEnd}   ]]>
		</if>
		<if test="q.operatorType!=null ">
			AND OPERATOR_TYPE=#{q.operatorType}
		</if>
		<if test="q.operatorId!=null and q.operatorId!=''">
			AND OPERATOR_ID=#{q.operatorId}
		</if>
		<if test="q.memo!=null and q.memo!=''">
			AND MEMO=#{q.memo}
		</if>
	</if>
</sql>

</mapper>