<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.shopec.core.equipment.dao.EquipmentRepairDao">

<resultMap type="EquipmentRepair" id="EquipmentRepair">
	<id column="EQUIPMENT_REPAIR_NO" property="equipmentRepairNo" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="FITNESS_EQUIPMENT_NO" property="fitnessEquipmentNo" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="CITY_ID" property="cityId" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="CITY_NAME" property="cityName" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="STORE_NO" property="storeNo" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="STORE_NAME" property="storeName" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="REPAIR_ID" property="repairId" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="REPAIR_TYPE_NAME" property="repairTypeName" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="SORT_NO" property="sortNo" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="SORT_NAME" property="sortName" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="REPAIR_STATUS" property="repairStatus" javaType="java.lang.Integer" jdbcType="TINYINT"/>
	<result column="START_TIME" property="startTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	<result column="END_TIME" property="endTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	<result column="REPAIR_NAME" property="repairName" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="REPAIR_PICTURE_URL1" property="repairPictureUrl1" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="REPAIR_PICTURE_URL2" property="repairPictureUrl2" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="REPAIR_PICTURE_URL3" property="repairPictureUrl3" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="MEMO" property="memo" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="IS_DELETED" property="isDeleted" javaType="java.lang.Integer" jdbcType="TINYINT"/>
	<result column="CREATE_TIME" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	<result column="UPDATE_TIME" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	<result column="OPERATOR_TYPE" property="operatorType" javaType="java.lang.Integer" jdbcType="TINYINT"/>
	<result column="OPERATOR_ID" property="operatorId" javaType="java.lang.String" jdbcType="VARCHAR"/>
</resultMap>


<!-- 全部字段，一般用于明细查询 -->
<sql id="AllColumnlist">
EQUIPMENT_REPAIR_NO,FITNESS_EQUIPMENT_NO,CITY_ID,CITY_NAME,STORE_NO,STORE_NAME,REPAIR_ID,
REPAIR_TYPE_NAME,SORT_NO,SORT_NAME,REPAIR_STATUS,START_TIME,END_TIME,
REPAIR_NAME,REPAIR_PICTURE_URL1,REPAIR_PICTURE_URL2,REPAIR_PICTURE_URL3,MEMO,IS_DELETED,
CREATE_TIME,UPDATE_TIME,OPERATOR_TYPE,OPERATOR_ID
</sql>

<!-- 常见字段，一般用于列表查询，可能不包含备注之类的字段 -->
<sql id="CommonColumnlist">
EQUIPMENT_REPAIR_NO,FITNESS_EQUIPMENT_NO,CITY_ID,CITY_NAME,STORE_NO,STORE_NAME,REPAIR_ID,
REPAIR_TYPE_NAME,SORT_NO,SORT_NAME,REPAIR_STATUS,START_TIME,END_TIME,
REPAIR_NAME,REPAIR_PICTURE_URL1,REPAIR_PICTURE_URL2,REPAIR_PICTURE_URL3,IS_DELETED,
CREATE_TIME,UPDATE_TIME,OPERATOR_TYPE,OPERATOR_ID
</sql>

<insert id="add" parameterType="EquipmentRepair" useGeneratedKeys="true" keyProperty="equipmentRepairNo">
	insert into T_EQUIPMENT_REPAIR(
		<if test="equipmentRepairNo!=null">
		EQUIPMENT_REPAIR_NO,
		</if>
		FITNESS_EQUIPMENT_NO,
		CITY_ID,
		CITY_NAME,
		STORE_NO,
		STORE_NAME,
		REPAIR_ID,
		REPAIR_TYPE_NAME,
		SORT_NO,
		SORT_NAME,
		REPAIR_STATUS,
		START_TIME,
		END_TIME,
		REPAIR_NAME,
		REPAIR_PICTURE_URL1,
		REPAIR_PICTURE_URL2,
		REPAIR_PICTURE_URL3,
		MEMO,
		IS_DELETED,
		CREATE_TIME,
		UPDATE_TIME,
		OPERATOR_TYPE,
		OPERATOR_ID
	) values (
		<if test="equipmentRepairNo!=null">
		#{equipmentRepairNo,jdbcType = VARCHAR},
		</if>
		#{fitnessEquipmentNo,jdbcType = VARCHAR},
		#{cityId,jdbcType = VARCHAR},
		#{cityName,jdbcType = VARCHAR},
		#{storeNo,jdbcType = VARCHAR},
		#{storeName,jdbcType = VARCHAR},
		#{repairId,jdbcType = VARCHAR},
		#{repairTypeName,jdbcType = VARCHAR},
		#{sortNo,jdbcType = VARCHAR},
		#{sortName,jdbcType = VARCHAR},
		#{repairStatus,jdbcType = TINYINT},
		#{startTime,jdbcType = TIMESTAMP},
		#{endTime,jdbcType = TIMESTAMP},
		#{repairName,jdbcType = VARCHAR},
		#{repairPictureUrl1,jdbcType = VARCHAR},
		#{repairPictureUrl2,jdbcType = VARCHAR},
		#{repairPictureUrl3,jdbcType = VARCHAR},
		#{memo,jdbcType = VARCHAR},
		#{isDeleted,jdbcType = TINYINT},
		#{createTime,jdbcType = TIMESTAMP},
		#{updateTime,jdbcType = TIMESTAMP},
		#{operatorType,jdbcType = TINYINT},
		#{operatorId,jdbcType = VARCHAR}
	)
</insert>

<update id="update" parameterType="EquipmentRepair">
	update T_EQUIPMENT_REPAIR 
	<set>
		<if test="fitnessEquipmentNo!=null and fitnessEquipmentNo!=''">
			FITNESS_EQUIPMENT_NO=#{fitnessEquipmentNo,jdbcType = VARCHAR},
		</if>
		<if test="cityId!=null and cityId!=''">
			CITY_ID=#{cityId,jdbcType = VARCHAR},
		</if>
		<if test="cityName!=null and cityName!=''">
			CITY_NAME=#{cityName,jdbcType = VARCHAR},
		</if>
		<if test="storeNo!=null and storeNo!=''">
			STORE_NO=#{storeNo,jdbcType = VARCHAR},
		</if>
		<if test="storeName!=null and storeName!=''">
			STORE_NAME=#{storeName,jdbcType = VARCHAR},
		</if>
		<if test="repairId!=null and repairId!=''">
			REPAIR_ID=#{repairId,jdbcType = VARCHAR},
		</if>
		<if test="repairTypeName!=null and repairTypeName!=''">
			REPAIR_TYPE_NAME=#{repairTypeName,jdbcType = VARCHAR},
		</if>
		<if test="sortNo!=null and sortNo!=''">
			SORT_NO=#{sortNo,jdbcType = VARCHAR},
		</if>
		<if test="sortName!=null and sortName!=''">
			SORT_NAME=#{sortName,jdbcType = VARCHAR},
		</if>
		<if test="repairStatus!=null ">
			REPAIR_STATUS=#{repairStatus,jdbcType = TINYINT},
		</if>
		<if test="startTime!=null ">
			START_TIME=#{startTime,jdbcType = TIMESTAMP},
		</if>
		<if test="endTime!=null ">
			END_TIME=#{endTime,jdbcType = TIMESTAMP},
		</if>
		<if test="repairName!=null and repairName!=''">
			REPAIR_NAME=#{repairName,jdbcType = VARCHAR},
		</if>
		<if test="repairPictureUrl1!=null and repairPictureUrl1!=''">
			REPAIR_PICTURE_URL1=#{repairPictureUrl1,jdbcType = VARCHAR},
		</if>
		<if test="repairPictureUrl2!=null and repairPictureUrl2!=''">
			REPAIR_PICTURE_URL2=#{repairPictureUrl2,jdbcType = VARCHAR},
		</if>
		<if test="repairPictureUrl3!=null and repairPictureUrl3!=''">
			REPAIR_PICTURE_URL3=#{repairPictureUrl3,jdbcType = VARCHAR},
		</if>
		<if test="memo!=null and memo!=''">
			MEMO=#{memo,jdbcType = VARCHAR},
		</if>
		<if test="isDeleted!=null ">
			IS_DELETED=#{isDeleted,jdbcType = TINYINT},
		</if>
		<if test="createTime!=null ">
			CREATE_TIME=#{createTime,jdbcType = TIMESTAMP},
		</if>
		<if test="updateTime!=null ">
			UPDATE_TIME=#{updateTime,jdbcType = TIMESTAMP},
		</if>
		<if test="operatorType!=null ">
			OPERATOR_TYPE=#{operatorType,jdbcType = TINYINT},
		</if>
		<if test="operatorId!=null and operatorId!=''">
			OPERATOR_ID=#{operatorId,jdbcType = VARCHAR},
		</if>
	</set>
	<where>
		AND EQUIPMENT_REPAIR_NO=#{equipmentRepairNo}
	</where>
</update>

<delete id="delete">
	delete from T_EQUIPMENT_REPAIR 
	<where>
		EQUIPMENT_REPAIR_NO=#{0}
	</where>
</delete>

<select id="get" resultMap="EquipmentRepair">
	select <include refid="AllColumnlist"/> from T_EQUIPMENT_REPAIR
	<where>
		EQUIPMENT_REPAIR_NO=#{0}
	</where>
</select>

<select id="getByIds" resultMap="EquipmentRepair">
	select <include refid="AllColumnlist"/> from T_EQUIPMENT_REPAIR
	<where>
		EQUIPMENT_REPAIR_NO in <foreach item="item" index="index" collection="array" open="(" separator="," close=")">#{item}</foreach>
	</where>
</select>

<select id="count" parameterType="Query" resultType="Long">
	select count(EQUIPMENT_REPAIR_NO) from T_EQUIPMENT_REPAIR 
	<where>
	<include refid="listCommonWhere"/>
	</where>
</select>

<select id="queryAll" parameterType="Query" resultMap="EquipmentRepair">
	select <include refid="CommonColumnlist"/> from T_EQUIPMENT_REPAIR 
	<where>
	<include refid="listCommonWhere"/>
	</where>
</select>

<select id="pageList" parameterType="Query" resultMap="EquipmentRepair">
	select <include refid="CommonColumnlist"/> from T_EQUIPMENT_REPAIR
	<where>
	 <include refid="listCommonWhere"/>
	</where>
	ORDER BY UPDATE_TIME DESC
	<![CDATA[LIMIT #{rowIndex},#{pageSize} ]]>
</select>

<select id="pageListAll" parameterType="Query" resultMap="EquipmentRepair">
	select er.*,u.USER_name AS recordName FROM T_EQUIPMENT_REPAIR er LEFT JOIN t_sys_user u
    ON u.user_ID = er.operator_Id 
	<where>
	 er.IS_DELETED=0 <include refid="commonWhere"/>
	</where>order by CREATE_TIME desc
	<![CDATA[LIMIT #{rowIndex},#{pageSize} ]]>
</select>
<select id="countAll" parameterType="Query" resultType="Long">
	select count(EQUIPMENT_REPAIR_NO) from T_EQUIPMENT_REPAIR 
	<where>
	IS_DELETED=0 <include refid="commonWhere"/>
	</where>
</select>

<sql id="listCommonWhere">
    <if test="q==null"><!-- 无传入参数时默认查未删除的 -->
       AND IS_DELETED=0
    </if>
	<if test="q!=null">
		<if test="q.equipmentRepairNo!=null and q.equipmentRepairNo!=''">
			AND EQUIPMENT_REPAIR_NO=#{q.equipmentRepairNo}
		</if>
		<if test="q.fitnessEquipmentNo!=null and q.fitnessEquipmentNo!=''">
			AND FITNESS_EQUIPMENT_NO=#{q.fitnessEquipmentNo}
		</if>
		<if test="q.cityId!=null and q.cityId!=''">
			AND CITY_ID=#{q.cityId}
		</if>
		<if test="q.cityName!=null and q.cityName!=''">
			AND CITY_NAME=#{q.cityName}
		</if>
		<if test="q.storeNo!=null and q.storeNo!=''">
			AND STORE_NO=#{q.storeNo}
		</if>
		<if test="q.storeName!=null and q.storeName!=''">
			AND STORE_NAME=#{q.storeName}
		</if>
		<if test="q.repairId!=null and q.repairId!=''">
			AND REPAIR_ID=#{q.repairId}
		</if>
		<if test="q.repairTypeName!=null and q.repairTypeName!=''">
			AND REPAIR_TYPE_NAME=#{q.repairTypeName}
		</if>
		<if test="q.sortNo!=null and q.sortNo!=''">
			AND SORT_NO=#{q.sortNo}
		</if>
		<if test="q.sortName!=null and q.sortName!=''">
			AND SORT_NAME=#{q.sortName}
		</if>
		<if test="q.repairStatus!=null ">
			AND REPAIR_STATUS=#{q.repairStatus}
		</if>
		<if test="q.startTime!=null ">
			AND START_TIME=#{q.startTime}
		</if>
		<if test="q.startTimeStart!=null">
		<![CDATA[	AND START_TIME>=#{q.startTimeStart}  ]]>
		</if>
		<if test="q.startTimeEnd!=null">
		<![CDATA[	AND START_TIME<#{q.startTimeEnd}   ]]>
		</if>
		<if test="q.endTime!=null ">
			AND END_TIME=#{q.endTime}
		</if>
		<if test="q.endTimeStart!=null">
		<![CDATA[	AND END_TIME>=#{q.endTimeStart}  ]]>
		</if>
		<if test="q.endTimeEnd!=null">
		<![CDATA[	AND END_TIME<#{q.endTimeEnd}   ]]>
		</if>
		<if test="q.repairName!=null and q.repairName!=''">
			AND REPAIR_NAME=#{q.repairName}
		</if>
		<if test="q.repairPictureUrl1!=null and q.repairPictureUrl1!=''">
			AND REPAIR_PICTURE_URL1=#{q.repairPictureUrl1}
		</if>
		<if test="q.repairPictureUrl2!=null and q.repairPictureUrl2!=''">
			AND REPAIR_PICTURE_URL2=#{q.repairPictureUrl2}
		</if>
		<if test="q.repairPictureUrl3!=null and q.repairPictureUrl3!=''">
			AND REPAIR_PICTURE_URL3=#{q.repairPictureUrl3}
		</if>
		<if test="q.memo!=null and q.memo!=''">
			AND MEMO=#{q.memo}
		</if>
		<if test="q.isDeleted!=null ">
			AND IS_DELETED=#{q.isDeleted}
		</if>
		<if test="q.createTime!=null ">
			AND CREATE_TIME=#{q.createTime}
		</if>
		<if test="q.createTimeStart!=null">
		<![CDATA[	AND CREATE_TIME>=#{q.createTimeStart}  ]]>
		</if>
		<if test="q.createTimeEnd!=null">
		<![CDATA[	AND CREATE_TIME<#{q.createTimeEnd}   ]]>
		</if>
		<if test="q.updateTime!=null ">
			AND UPDATE_TIME=#{q.updateTime}
		</if>
		<if test="q.updateTimeStart!=null">
		<![CDATA[	AND UPDATE_TIME>=#{q.updateTimeStart}  ]]>
		</if>
		<if test="q.updateTimeEnd!=null">
		<![CDATA[	AND UPDATE_TIME<#{q.updateTimeEnd}   ]]>
		</if>
		<if test="q.operatorType!=null ">
			AND OPERATOR_TYPE=#{q.operatorType}
		</if>
		<if test="q.operatorId!=null and q.operatorId!=''">
			AND OPERATOR_ID=#{q.operatorId}
		</if>
	</if>
</sql>


<sql id="commonWhere">
	<if test="q!=null">
		<if test="q.equipmentRepairNo!=null and q.equipmentRepairNo!=''">
			AND EQUIPMENT_REPAIR_NO=#{q.equipmentRepairNo}
		</if>
		<if test="q.fitnessEquipmentNo!=null and q.fitnessEquipmentNo!=''">
			AND FITNESS_EQUIPMENT_NO=#{q.fitnessEquipmentNo}
		</if>
		<if test="q.cityId!=null and q.cityId!=''">
			AND CITY_ID=#{q.cityId}
		</if>
		<if test="q.cityName!=null and q.cityName!=''">
			AND CITY_NAME=#{q.cityName}
		</if>
		<if test="q.storeNo!=null and q.storeNo!=''">
			AND STORE_NO=#{q.storeNo}
		</if>
		<if test="q.storeName!=null and q.storeName!=''">
			AND STORE_NAME=#{q.storeName}
		</if>
		<if test="q.repairId!=null and q.repairId!=''">
			AND REPAIR_ID=#{q.repairId}
		</if>
		<if test="q.repairTypeName!=null and q.repairTypeName!=''">
			AND REPAIR_TYPE_NAME=#{q.repairTypeName}
		</if>
		<if test="q.sortNo!=null and q.sortNo!=''">
			AND SORT_NO=#{q.sortNo}
		</if>
		<if test="q.sortName!=null and q.sortName!=''">
			AND SORT_NAME=#{q.sortName}
		</if>
		<if test="q.repairStatus!=null ">
			AND REPAIR_STATUS=#{q.repairStatus}
		</if>
		<if test="q.startTime!=null ">
			AND START_TIME=#{q.startTime}
		</if>
		<if test="q.startTimeStart!=null">
		<![CDATA[	AND START_TIME>=#{q.startTimeStart}  ]]>
		</if>
		<if test="q.startTimeEnd!=null">
		<![CDATA[	AND START_TIME<#{q.startTimeEnd}   ]]>
		</if>
		<if test="q.endTime!=null ">
			AND END_TIME=#{q.endTime}
		</if>
		<if test="q.endTimeStart!=null">
		<![CDATA[	AND END_TIME>=#{q.endTimeStart}  ]]>
		</if>
		<if test="q.endTimeEnd!=null">
		<![CDATA[	AND END_TIME<#{q.endTimeEnd}   ]]>
		</if>
		<if test="q.repairName!=null and q.repairName!=''">
			AND REPAIR_NAME=#{q.repairName}
		</if>
		<if test="q.repairPictureUrl1!=null and q.repairPictureUrl1!=''">
			AND REPAIR_PICTURE_URL1=#{q.repairPictureUrl1}
		</if>
		<if test="q.repairPictureUrl2!=null and q.repairPictureUrl2!=''">
			AND REPAIR_PICTURE_URL2=#{q.repairPictureUrl2}
		</if>
		<if test="q.repairPictureUrl3!=null and q.repairPictureUrl3!=''">
			AND REPAIR_PICTURE_URL3=#{q.repairPictureUrl3}
		</if>
		<if test="q.memo!=null and q.memo!=''">
			AND MEMO=#{q.memo}
		</if>
		<if test="q.createTime!=null ">
			AND CREATE_TIME=#{q.createTime}
		</if>
		<if test="q.createTimeStart!=null">
		<![CDATA[	AND CREATE_TIME>=#{q.createTimeStart}  ]]>
		</if>
		<if test="q.createTimeEnd!=null">
		<![CDATA[	AND CREATE_TIME<#{q.createTimeEnd}   ]]>
		</if>
		<if test="q.updateTime!=null ">
			AND UPDATE_TIME=#{q.updateTime}
		</if>
		<if test="q.updateTimeStart!=null">
		<![CDATA[	AND UPDATE_TIME>=#{q.updateTimeStart}  ]]>
		</if>
		<if test="q.updateTimeEnd!=null">
		<![CDATA[	AND UPDATE_TIME<#{q.updateTimeEnd}   ]]>
		</if>
		<if test="q.operatorType!=null ">
			AND OPERATOR_TYPE=#{q.operatorType}
		</if>
		<if test="q.operatorId!=null and q.operatorId!=''">
			AND OPERATOR_ID=#{q.operatorId}
		</if>
	</if>
</sql>

</mapper>