<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.shopec.core.equipment.dao.EquipmentFeedbackDao">

<resultMap type="EquipmentFeedback" id="EquipmentFeedback">
	<id column="EQUIPMENT_FEEDBACK_NO" property="equipmentFeedbackNo" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="FITNESS_EQUIPMENT_NO" property="fitnessEquipmentNo" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="CITY_ID" property="cityId" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="CITY_NAME" property="cityName" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="STORE_NO" property="storeNo" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="STORE_NAME" property="storeName" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="FEEDBACK_ID" property="feedbackId" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="FEEDBACK_STATUS" property="feedbackStatus" javaType="java.lang.Integer" jdbcType="TINYINT"/>
	<result column="MEMBER_NO" property="memberNo" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="MEMBER_NAME" property="memberName" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="MOBILE_PHONE" property="mobilePhone" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="FEEDBACK_PICTURE_URL1" property="feedbackPictureUrl1" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="FEEDBACK_PICTURE_URL2" property="feedbackPictureUrl2" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="FEEDBACK_PICTURE_URL3" property="feedbackPictureUrl3" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="MEMO" property="memo" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="SORT_NAME" property="sortName" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="IS_DELETED" property="isDeleted" javaType="java.lang.Integer" jdbcType="TINYINT"/>
	<result column="CREATE_TIME" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	<result column="UPDATE_TIME" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	<result column="OPERATOR_TYPE" property="operatorType" javaType="java.lang.Integer" jdbcType="TINYINT"/>
	<result column="OPERATOR_ID" property="operatorId" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="FEEDBACK_NAME" property="feedbackName" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="TURN_STATUS" property="turnStatus" javaType="java.lang.Integer" jdbcType="TINYINT"/>
</resultMap>


<!-- 全部字段，一般用于明细查询 -->
<sql id="AllColumnlist">
EQUIPMENT_FEEDBACK_NO,FITNESS_EQUIPMENT_NO,CITY_ID,CITY_NAME,STORE_NO,STORE_NAME,FEEDBACK_ID,
FEEDBACK_STATUS,MEMBER_NO,MEMBER_NAME,MOBILE_PHONE,FEEDBACK_PICTURE_URL1,FEEDBACK_PICTURE_URL2,
FEEDBACK_PICTURE_URL3,MEMO,IS_DELETED,CREATE_TIME,UPDATE_TIME,OPERATOR_TYPE,
OPERATOR_ID,FEEDBACK_NAME,TURN_STATUS,SORT_NAME
</sql>

<!-- 常见字段，一般用于列表查询，可能不包含备注之类的字段 -->
<sql id="CommonColumnlist">
EQUIPMENT_FEEDBACK_NO,FITNESS_EQUIPMENT_NO,CITY_ID,CITY_NAME,STORE_NO,STORE_NAME,FEEDBACK_ID,
FEEDBACK_STATUS,MEMBER_NO,MEMBER_NAME,MOBILE_PHONE,FEEDBACK_PICTURE_URL1,FEEDBACK_PICTURE_URL2,
FEEDBACK_PICTURE_URL3,IS_DELETED,CREATE_TIME,UPDATE_TIME,OPERATOR_TYPE,
OPERATOR_ID,FEEDBACK_NAME,TURN_STATUS,SORT_NAME
</sql>

<insert id="add" parameterType="EquipmentFeedback" useGeneratedKeys="true" keyProperty="equipmentFeedbackNo">
	insert into T_EQUIPMENT_FEEDBACK(
		<if test="equipmentFeedbackNo!=null">
		EQUIPMENT_FEEDBACK_NO,
		</if>
		FITNESS_EQUIPMENT_NO,
		CITY_ID,
		CITY_NAME,
		STORE_NO,
		STORE_NAME,
		FEEDBACK_ID,
		FEEDBACK_STATUS,
		MEMBER_NO,
		MEMBER_NAME,
		MOBILE_PHONE,
		FEEDBACK_PICTURE_URL1,
		FEEDBACK_PICTURE_URL2,
		FEEDBACK_PICTURE_URL3,
		MEMO,
		IS_DELETED,
		CREATE_TIME,
		UPDATE_TIME,
		OPERATOR_TYPE,
		OPERATOR_ID,
		FEEDBACK_NAME,
		TURN_STATUS,
		SORT_NAME
	) values (
		<if test="equipmentFeedbackNo!=null">
		#{equipmentFeedbackNo,jdbcType = VARCHAR},
		</if>
		#{fitnessEquipmentNo,jdbcType = VARCHAR},
		#{cityId,jdbcType = VARCHAR},
		#{cityName,jdbcType = VARCHAR},
		#{storeNo,jdbcType = VARCHAR},
		#{storeName,jdbcType = VARCHAR},
		#{feedbackId,jdbcType = VARCHAR},
		#{feedbackStatus,jdbcType = TINYINT},
		#{memberNo,jdbcType = VARCHAR},
		#{memberName,jdbcType = VARCHAR},
		#{mobilePhone,jdbcType = VARCHAR},
		#{feedbackPictureUrl1,jdbcType = VARCHAR},
		#{feedbackPictureUrl2,jdbcType = VARCHAR},
		#{feedbackPictureUrl3,jdbcType = VARCHAR},
		#{memo,jdbcType = VARCHAR},
		#{isDeleted,jdbcType = TINYINT},
		#{createTime,jdbcType = TIMESTAMP},
		#{updateTime,jdbcType = TIMESTAMP},
		#{operatorType,jdbcType = TINYINT},
		#{operatorId,jdbcType = VARCHAR},
		#{feedbackName,jdbcType = VARCHAR},
		#{turnStatus,jdbcType = TINYINT},
		#{sortName,jdbcType = VARCHAR}
	)
</insert>

<update id="update" parameterType="EquipmentFeedback">
	update T_EQUIPMENT_FEEDBACK 
	<set>
		<if test="fitnessEquipmentNo!=null and fitnessEquipmentNo!=''">
			FITNESS_EQUIPMENT_NO=#{fitnessEquipmentNo,jdbcType = VARCHAR},
		</if>
		<if test="cityId!=null and cityId!=''">
			CITY_ID=#{cityId,jdbcType = VARCHAR},
		</if>
		<if test="cityName!=null and cityName!=''">
			CITY_NAME=#{cityName,jdbcType = VARCHAR},
		</if>
		<if test="storeNo!=null and storeNo!=''">
			STORE_NO=#{storeNo,jdbcType = VARCHAR},
		</if>
		<if test="storeName!=null and storeName!=''">
			STORE_NAME=#{storeName,jdbcType = VARCHAR},
		</if>
		<if test="feedbackId!=null and feedbackId!=''">
			FEEDBACK_ID=#{feedbackId,jdbcType = VARCHAR},
		</if>
		<if test="feedbackStatus!=null ">
			FEEDBACK_STATUS=#{feedbackStatus,jdbcType = TINYINT},
		</if>
		<if test="memberNo!=null and memberNo!=''">
			MEMBER_NO=#{memberNo,jdbcType = VARCHAR},
		</if>
		<if test="sortName!=null and sortName!=''">
			SORT_NAME=#{sortName,jdbcType = VARCHAR},
		</if>
		<if test="memberName!=null and memberName!=''">
			MEMBER_NAME=#{memberName,jdbcType = VARCHAR},
		</if>
		<if test="mobilePhone!=null and mobilePhone!=''">
			MOBILE_PHONE=#{mobilePhone,jdbcType = VARCHAR},
		</if>
		<if test="feedbackPictureUrl1!=null and feedbackPictureUrl1!=''">
			FEEDBACK_PICTURE_URL1=#{feedbackPictureUrl1,jdbcType = VARCHAR},
		</if>
		<if test="feedbackPictureUrl2!=null and feedbackPictureUrl2!=''">
			FEEDBACK_PICTURE_URL2=#{feedbackPictureUrl2,jdbcType = VARCHAR},
		</if>
		<if test="feedbackPictureUrl3!=null and feedbackPictureUrl3!=''">
			FEEDBACK_PICTURE_URL3=#{feedbackPictureUrl3,jdbcType = VARCHAR},
		</if>
		<if test="memo!=null and memo!=''">
			MEMO=#{memo,jdbcType = VARCHAR},
		</if>
		<if test="isDeleted!=null ">
			IS_DELETED=#{isDeleted,jdbcType = TINYINT},
		</if>
		<if test="createTime!=null ">
			CREATE_TIME=#{createTime,jdbcType = TIMESTAMP},
		</if>
		<if test="updateTime!=null ">
			UPDATE_TIME=#{updateTime,jdbcType = TIMESTAMP},
		</if>
		<if test="operatorType!=null ">
			OPERATOR_TYPE=#{operatorType,jdbcType = TINYINT},
		</if>
		<if test="operatorId!=null and operatorId!=''">
			OPERATOR_ID=#{operatorId,jdbcType = VARCHAR},
		</if>
		<if test="feedbackName!=null and feedbackName!=''">
			FEEDBACK_NAME=#{feedbackName,jdbcType = VARCHAR},
		</if>
		<if test="turnStatus!=null ">
			TURN_STATUS=#{turnStatus,jdbcType = TINYINT},
		</if>
	</set>
	<where>
		AND EQUIPMENT_FEEDBACK_NO=#{equipmentFeedbackNo}
	</where>
</update>

<delete id="delete">
	delete from T_EQUIPMENT_FEEDBACK 
	<where>
		EQUIPMENT_FEEDBACK_NO=#{0}
	</where>
</delete>

<select id="get" resultMap="EquipmentFeedback">
	select <include refid="AllColumnlist"/> from T_EQUIPMENT_FEEDBACK
	<where>
		EQUIPMENT_FEEDBACK_NO=#{0}
	</where>
</select>

<select id="getByIds" resultMap="EquipmentFeedback">
	select <include refid="AllColumnlist"/> from T_EQUIPMENT_FEEDBACK
	<where>
		EQUIPMENT_FEEDBACK_NO in <foreach item="item" index="index" collection="array" open="(" separator="," close=")">#{item}</foreach>
	</where>
</select>

<select id="count" parameterType="Query" resultType="Long">
	select count(EQUIPMENT_FEEDBACK_NO) from T_EQUIPMENT_FEEDBACK 
	<where>
	<include refid="listCommonWhere"/>
	</where>
</select>

<select id="queryAll" parameterType="Query" resultMap="EquipmentFeedback">
	select <include refid="CommonColumnlist"/> from T_EQUIPMENT_FEEDBACK 
	<where>
	<include refid="listCommonWhere"/>
	</where>
</select>

<select id="pageList" parameterType="Query" resultMap="EquipmentFeedback">
	select <include refid="AllColumnlist"/> from T_EQUIPMENT_FEEDBACK
	<where>
	 <include refid="listCommonWhere"/>
	</where>
	ORDER BY UPDATE_TIME DESC
	<![CDATA[LIMIT #{rowIndex},#{pageSize} ]]>
</select>


<sql id="listCommonWhere">
    <if test="q==null"><!-- 无传入参数时默认查未删除的 -->
       AND IS_DELETED=0
    </if>
	<if test="q!=null">
		<if test="q.equipmentFeedbackNo!=null and q.equipmentFeedbackNo!=''">
			AND EQUIPMENT_FEEDBACK_NO=#{q.equipmentFeedbackNo}
		</if>
		<if test="q.fitnessEquipmentNo!=null and q.fitnessEquipmentNo!=''">
			AND FITNESS_EQUIPMENT_NO=#{q.fitnessEquipmentNo}
		</if>
		<if test="q.cityId!=null and q.cityId!=''">
			AND CITY_ID=#{q.cityId}
		</if>
		<if test="q.cityName!=null and q.cityName!=''">
			AND CITY_NAME=#{q.cityName}
		</if>
		<if test="q.storeNo!=null and q.storeNo!=''">
			AND STORE_NO=#{q.storeNo}
		</if>
		<if test="q.storeName!=null and q.storeName!=''">
			AND STORE_NAME=#{q.storeName}
		</if>
		<if test="q.feedbackId!=null and q.feedbackId!=''">
			AND FEEDBACK_ID=#{q.feedbackId}
		</if>
		<if test="q.feedbackStatus!=null ">
			AND FEEDBACK_STATUS=#{q.feedbackStatus}
		</if>
		<if test="q.memberNo!=null and q.memberNo!=''">
			AND MEMBER_NO=#{q.memberNo}
		</if>
		<if test="q.memberName!=null and q.memberName!=''">
			AND MEMBER_NAME=#{q.memberName}
		</if>
		<if test="q.mobilePhone!=null and q.mobilePhone!=''">
			AND MOBILE_PHONE=#{q.mobilePhone}
		</if>
		<if test="q.sortName!=null and q.sortName!=''">
			AND SORT_NAME=#{q.sortName}
		</if>
		<if test="q.feedbackPictureUrl1!=null and q.feedbackPictureUrl1!=''">
			AND FEEDBACK_PICTURE_URL1=#{q.feedbackPictureUrl1}
		</if>
		<if test="q.feedbackPictureUrl2!=null and q.feedbackPictureUrl2!=''">
			AND FEEDBACK_PICTURE_URL2=#{q.feedbackPictureUrl2}
		</if>
		<if test="q.feedbackPictureUrl3!=null and q.feedbackPictureUrl3!=''">
			AND FEEDBACK_PICTURE_URL3=#{q.feedbackPictureUrl3}
		</if>
		<if test="q.memo!=null and q.memo!=''">
			AND MEMO=#{q.memo}
		</if>
		<if test="q.isDeleted!=null ">
			AND IS_DELETED=#{q.isDeleted}
		</if>
		<if test="q.createTime!=null ">
			AND CREATE_TIME=#{q.createTime}
		</if>
		<if test="q.createTimeStart!=null">
		<![CDATA[	AND CREATE_TIME>=#{q.createTimeStart}  ]]>
		</if>
		<if test="q.createTimeEnd!=null">
		<![CDATA[	AND CREATE_TIME<#{q.createTimeEnd}   ]]>
		</if>
		<if test="q.updateTime!=null ">
			AND UPDATE_TIME=#{q.updateTime}
		</if>
		<if test="q.updateTimeStart!=null">
		<![CDATA[	AND UPDATE_TIME>=#{q.updateTimeStart}  ]]>
		</if>
		<if test="q.updateTimeEnd!=null">
		<![CDATA[	AND UPDATE_TIME<#{q.updateTimeEnd}   ]]>
		</if>
		<if test="q.operatorType!=null ">
			AND OPERATOR_TYPE=#{q.operatorType}
		</if>
		<if test="q.operatorId!=null and q.operatorId!=''">
			AND OPERATOR_ID=#{q.operatorId}
		</if>
		<if test="q.feedbackName!=null and q.feedbackName!=''">
			AND FEEDBACK_NAME=#{q.feedbackName}
		</if>
		<if test="q.turnStatus!=null ">
			AND TURN_STATUS=#{q.turnStatus}
		</if>
	</if>
</sql>

</mapper>